<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	


<script>
	const creatReport =()=>{
		var bodyContent = document.getElementById('bodyContent');
      var printContent = document.getElementById('printContent');

      // Save the current main content
      var originalContent = bodyContent.innerHTML;

      // Set main content to print content
      bodyContent.innerHTML = printContent.innerHTML;

	  //hide the header
	  document.getElementById('header').style.display = "none";

      // Print the page
      window.print();

	  //show the header back
	  document.getElementById('header').style.display = "block";

      // Reset main content after printing
      bodyContent.innerHTML = originalContent;
	}
</script>


<div class="table-responsive" id="bodyContent">   
  <table class='table'>

	<thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Age</th>
		<% if (data.userRole == 'Professor') { %>
        <th colspan='2' class='pull-right'>Actions</th>
		<% } %>
      </tr>
    </thead>
	
	<!--
		Using FOREACH LOOP for the users array
		
		myArray.forEach(function(el, index) {
			// el - current element, i - index
		});
	-->
	    <tbody>
			<% if (data.rows) { %>
			<% data.rows.forEach(function(user){ %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td><%= user.phone_num %></td>
					<td><%= user.age %></td>
					<% if (data.userRole == 'Professor') { %>
					<td>
						<div>
							<a href='/users/edit/<%= user.id %>' class='btn btn-info'>Edit</a> &nbsp;
					</td>
					<td>							
							    <form method="post" action="/users/delete/<%= user.id %>">
								<input type="submit" name="delete" value='Delete' class='btn btn-danger' style='margin-left:-10px' onClick="return confirm('Are you sure you want to delete?')" />
								<input type="hidden" name="_method" value="DELETE" />
							</form>
						</div>
					</td>
					<% } %>
				</tr>
			<% 
		
		}) %>
			<% 

		} %>
		</tbody>
		
	</table>



	<% if (data.rows) { 
		exportData = data.rows;

		%>
	<button class="export-data"
	onclick="creatReport()">Export Data</button>
	<% }
		%>

		<% if (data.rows) { 
		exportData = data.rows;

		%>
		<div id="printContent" style="display: none;">
			
			<table class='table'>

<thead>
  <tr>
	<th>Name</th>
	<th>Email</th>
	<th>Mobile Number</th>
	<th>Age</th>
  </tr>
</thead>

<!--
	Using FOREACH LOOP for the users array
	
	myArray.forEach(function(el, index) {
		// el - current element, i - index
	});
-->
	<tbody>
		<% if (data.rows) { %>
		<% data.rows.forEach(function(user){ %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= user.phone_num %></td>
				<td><%= user.age %></td>
				
			</tr>
		<% 
	
	}) %>
		<% 

	} %>
	</tbody>
	
</table>

		</div>
	<% }
		%>
	
	</div>
	

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
